<!-- For testing with path paramters value
 
<p>route works!</p>

<p>Coordinates: {{ coordinates }}</p>
<p>Latitude: {{ latitude }}</p>
<p>Longitude: {{ longitude }}</p> -->

<div #mapContainer class="map-container">
    <div class="map-frame">
      <div id="map"></div>
      <button *ngIf="!showStartButton" id="get-direction" class="map-action-button" (click)="onDestinationnClick()">
        Get Directions
      </button>
      <button *ngIf="showStartButton" id="start" class="map-action-button" (click)="onStartClick()">
        Start
      </button>
    </div>
</div>